@import 'typography';
@import 'media-queries';

.story__container {
    padding: 0 10px;
    position: relative;
    transition: all 0.5s;
}

.story__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.story__title {
    z-index: 50;
}

.refresh-button {
    z-index: 100;
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 48pt;
    cursor: pointer;
    transition: background-color 0.5s;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border-radius: 50%;
    background-color: #EC407A;
    box-shadow: 0px 0px 30px 0px #333;
}

.refresh-button:hover {
    background-color: #81D4FA;
}